header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #cfcdb4;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: #6d8ead;
  font-weight: bold;
  font-family: "Gigantic FS", sans-serif;
}

.favoritos {
  cursor: pointer;
  background-color: #1f3447;
  padding: 5px 14px;
  text-decoration: none;
  color: #6d8ead;
  border-radius: 4px;
  font-family: "Gigantic FS", sans-serif;
}
